<div class="center jumbotron">
  <h1>POSTON</h1>

<h2>気軽に使える投稿アプリ</h2>

  <%= link_to image_tag("illust4344.png", alt: "pig") %>

  <% if logged_in? %>
   <%= link_to "POSTONを始める", new_post_path, class: "btn btn-lg btn-primary" %>
  <% else %>
   <%= link_to "POSTONを始める", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<%#= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

<%#= link_to image_tag("pig.jpg", alt: "pig"), '#' %>

<%= render 'layouts/footer' %>