<div class="center jumbotron">
  <%= @user.name %>, <%= @user.email %>
  <h1>ようこそPOSTNへ！</h1>
  <p>
    <h2>さっそく投稿してみましょう！</h2>
    <%= link_to '投稿', new_post_path, class: "btn btn-outline-info" %>
  </p>
</div>
